# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
BOARD_ID=
API_KEY=
API_TOKEN=

# Database
DATABASE_URL=mongodb://server.example.com:27017
DATABASE_NAME=tododb

# OAuth
CLIENT_ID=clientId
CLIENT_SECRET=clientSecret
LOGIN_DISABLED=boolean
SECRET_KEY=yourSecret