{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Ryan's to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
      <table class="table table-borderless" id="todo-table">
        <thead class="thead-dark">
          <th>To Do</th>
          <th>Doing</th>
          <th>
            Done
            <div class="toggle-done">
              {% if view_model.show_all_done_items %}
                <a href="/toggle-done/false"><span class="fas fa-eye-slash"></span> Hide old done items</a>
              {% else %}
                <a href="/toggle-done/true"><span class="fas fa-eye"></span> Show all done items</a>
              {% endif %}
            </div>
          </th>
        </thead>
          <tbody>
              <tr>
                {% for status in view_model.getBoardStatuses() %}
                  <td class="status-col" id="{{ status.id }}" name="status-col-{{ status.title }}">
                    {% if status.title == 'To Do' %}
                      {% for item in view_model.getToDoItems() %}
                        {% include 'item.html' %}
                      {% endfor %}
                    {% endif %}
                    {% if status.title == 'Doing' %}
                      {% for item in view_model.getDoingItems() %}
                        {% include 'item.html' %}
                      {% endfor %}
                    {% endif %}
                    {% if status.title == 'Done' %}
                      {% for item in view_model.getDoneItems() %}
                        {% include 'item.html' %}
                      {% endfor %}
                    {% endif %}
                  </td>
                {% endfor %}
              </tr>
          </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Create an item</h2>
    <form action="/create" method="POST" autocomplete="off">
      <div class="form-group">
        <fieldset>
          <legend>New item details:</legend>
          <div class="form-row">
            <label class="col-sm-2 col-form-label" for="title">Title:</label>
            <div class="form-group col-md-6">
              <input required class="form-control" type="text" id="title" name="title" maxlength="280" placeholder="New to-do item">
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label" for="desc">Description (Optional):</label>
            <div class="form-group col-md-6">
              <textarea class="form-control" type="text" id="desc" name="desc" rows="3" cols="80" maxlength="280"></textarea>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label" for="due">Due date (Optional):</label>
            <div class="form-group col-md-6">
              <div class="input-group date">
                <div class="col-xs-2">
                  <input id="due" name="due" type="text" class="form-control cal-icon" placeholder="mm/dd/yyyy">
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-dark" type="submit" name="submit-item">Submit</button>
        </fieldset>
      </div>
    </form>
  </div>
</div>

<script>
  $("#due").datepicker({
    startDate: '-0d',
    changeMonth: true,
    format: "mm/dd/yyyy",
    weekStart: 1
  });
  $(function() {
    $(".status-col").sortable({
      connectWith: ".status-col",
      handle: ".item-content",
      receive: function(event, ui) {
        const form = document.getElementById("update-item-" + ui.item[0].id);
        $("<input />").attr("type", "hidden")
          .attr("id", "temp")
          .attr("name", "status")
          .attr("value", this.id)
          .appendTo(form);
        form.submit();
        $("#temp").remove();
      }
    });
  });
</script>
{% endblock %}