{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
      <div class="form-group">
        <table class="table">
          <thead class="thead-dark">
            <th>Title</th>
            <th>Status</th>
            <th>Remove</th>
          </thead>
          {% for item in items %}
            <tbody>
              <form action="/update" method="POST">
                <tr {% if item.status == 'Done' %} class="table-success" {% else %} class="table-secondary" {% endif %}>
                  <td>{{ item.title }}</td>
                  <td>
                    <input id="id" name="id" type="hidden" value="{{ item.id }}">
                    <select name="status" id="status" onchange="this.form.submit()">
                      {% for status in statuses %}
                        <option value="{{ status.id }}" {% if item.status == status.title %} selected {% endif %}>
                          {{ status.title }}
                        </option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <a href="/remove/{{ item.id }}">
                      <img src="{{url_for('static', filename='img/remove.png')}}" alt="Remove item" />
                    </a>
                  </td>
                </tr>
              </form>
            </tbody>
          {% endfor %}
        </table><br />
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Create an item</h2>
    <form action="/create" method="POST">
      <div class="form-group">
        <div class="form-row">
          <label class="col-sm-2 col-form-label" for="title">Title</label>
          <div class="form-group col-md-6">
            <input required class="form-control" type="text" id="title" name="title" maxlength="280" placeholder="New to-do item">
          </div>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}