<div
    class="item 
    {% if item.isOverdue() %} 
        bg-warning text-dark
    {% elif item.status == 'Done' %} 
        bg-success text-light
    {% else %}
        bg-info text-light
    {% endif %}" >
    <div class="item-content">
        {{ item.title }}
        {% if item.description %}
            <div>
                <span class="fas fa-comment-alt"></span>
                {{ item.description }}
            </div>
        {% endif %}
        {% if item.status != 'Done' %}
            <div>
                <span class="fas fa-calendar-alt"></span>
                {{ item.getFormattedDueDate() }}
            </div>
        {% endif %}
    </div>
</div>